<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-grey-lighter">
    <div id="app" class="flex flex-col justify-center items-center">
        <div class="bg-white p-4 shadow">
            {{ message }}
            <button class="bg-blue-500 font-bold px-4 py-2 rounded-full" @click="getData()">Get Data</button>
        </div>
        <input type="text" class ="bg-grey border-2 border-grey-dark mt-4 text-4xl" v-model="lat">
        <input type="text" class ="bg-grey border-2 border-grey-dark mt-4 text-4xl" v-model="lng">
        <div v-if="weatherData">
            {{ weatherData.currently.windSpeed }}
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script>
        var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            lat: 34.149551,
            lng: -118.141449,
            weatherData: null
        }, methods: {
            getData() {
                //alert('hello!');
                // Make a request for a user with a given ID
                axios.get('process.php?lat='+app.lat+'&lng='+app.lng).then(function (response) {  //response is the echoed result in process.php
                    // handle success
                    //console.log(response);
                    console.log(response.data);
                    app.weatherData = response.data;
                })
            }
        }
})
    </script>
</body>
</html>